*{
	font-family: 'Lato', sans-serif;
	color: white;
}

.img-responsive {
    margin: 0 auto;
}
/*
section.first-section{
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom left, #5ED38A, #E38463);
	background-repeat: no-repeat;
	color: white;
}

h4{
	font-weight: 300;
}

img{
	margin-top: 50px;
}

input.inputname{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 5px;
	height: 38px;
	width: 80%;
	background-color: rgba(0, 0, 0, 0.08);
	border-color: transparent;
	color: white;
}

.btn-success{
	margin-top: 20px;
	background-color: rgba(0, 0, 0, 0.08);
	border-color: white;
	border-radius: 6px;
	height: 38px;
	width: 80%;

}

.btn-success:hover{
	background-color: rgba(0, 0, 0, 0.09);
}

p{
	margin-top: 20px;
}

hr{
	max-width: 100%;
	height: 1px;
	margin-top: 20px;
}

.lineas{
	display: flex;
	margin: 0 auto;
	justify-content: center;
}

.linea {
    height: 1px;
    background-color: white;
    width: 100px;
    display: inline-block;
}

div.lineas p {
	margin-top: -10px;
	margin-left: 6px;
	margin-right: 6px;
}

.sesionfacebook{
	margin-bottom: 60px;
}

.textofacebook{
	display: inline-block;
}

.fa-facebook-official{
	margin-right: 4px;
	font-size: 15px;
}

a:hover{
	text-decoration: none;
}
*/
/*Index 2*/
.collage{
	width: 100%;
	height: 80vh;
}

section.barra{
	width: 100%;
	background-color: black;
	margin-bottom: 4px;
}
.pbooth{
	display: inline-block;
	font-size: 20px;
	margin-left: 8px;
}
.fa-instagram{
	font-size: 20px;
}

.contcarrete{
	padding: 0;
	display: flex;
}

.carrete{

	margin: 0 auto;
}
.fotos{
	border: 5px solid black;
	width: 118%;
}
.contuno{
	padding-left: 0;
}